@import url("https://use.typekit.net/qiw0rga.css");

*{font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
    header{
        background-color:rgb(49, 49, 39) ;
        width: 100%;
        position: fixed;
        z-index: 24;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;
    }
    .logo{
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-transform: capitalize;
        font-weight: 700;
        font-size: 1.8em;
    }
    .nav a{
        text-decoration: none;
        color:white ;
        font-weight: 500;
        justify-content: space-between;
        padding-left: 30px;
    }
    .nav a:hover{
        color: aqua;
    }
    section{
        padding: 100px 200px;
    }
    .main{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-color: #192734;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }
    .main h2{
        color: white;
        font-size: 1.4em;
        font-weight: 500;
    }
    .main h2 span{
        display: inline-block;
        margin-top: 10px;
        color: gold;
        font-size: 3em;
        font-size: 600;
    }
    .main h3{
        color:white;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 1px;
     margin-top:10px ;
     margin-bottom: 30px;
    }
   .botton1{
    text-decoration:none;
    color: white;
    background-color: blue;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
border-radius: 15px;
margin-bottom: 40px;
transition: 1s ease;
   } 
   .botton1:hover{
    background-color: darkblue;
    transform: scale(1.1);

   }
  .ok a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
  } 

    
    